th, tr, td {
  border: 1px solid;
  padding: 8px;
}

body {
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:aquamarine;
}

.site-header {
    background-image: url("../pictures/Background1.png");
    background-color: cornflowerblue;
    text-align: center;
    color:white;
}

.site-content {
    flex: 1;
    background-color:cadetblue;
}

.conteneur {
    display: flex;
	<!-- border: 1px solid blue; -->
}

.Tchat {
	flex:1;
	border: 1px solid;
}

.Info {
	flex:2;
	border: 1px solid;
}

.Triage {
	flex:1;
	border: 1px solid;
}

.site-footer {
    background-image: url("../pictures/Background1.png");
    background-color: green;
    text-align: center;
    color: white;
}




